# ==============================================================================
# APP
# ==============================================================================

PORT=3000
NODE_ENV=development

# ==============================================================================
# DATABASE (Railway)
# ==============================================================================

# Local development:
# Use Railway external/proxy URL

DATABASE_URL="mysql://root:PASSWORD@proxy.rlwy.net:PORT/railway"