# backend/.env.example

# Porten som backend-servern ska snurra på lokalt
PORT=3000
# Sätta node environment till development
NODE_ENV=development

# ------------------------------------------------------------------------------
# DATABASE (Railway External URL)
# ------------------------------------------------------------------------------
# External Railway URL for local development

DATABASE_URL="mysql://root:LÖSENORD@DITT_PROXY_ID.proxy.rlwy.net:PORT/railway"

# ------------------------------------------------------------------------------
# FRONTEND
# ------------------------------------------------------------------------------
FRONTEND_URL="http://localhost:5173"