/* /src/index.css */

@import "tailwindcss";

@theme {
  --color-primary: #09bc8a;
  --color-secondary: #ebebeb;
  --color-primary-hover: #c5ffd5;

  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-color-primary: #hsla(0, 0%, 0%, 1);
}
