/* frontend/src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@theme {
  --color-primary: #09bc8a;
  --color-secondary: #ebebeb;
  --color-primary-hover: #c5ffd5;

  --font-color-primary: #hsla(0, 0%, 0%, 1);

  --font-size-xsmall: 1.5rem; /* p */
  --font-size-small: 2.25rem; /* H3 */
  --font-size-medium: 2.5rem; /* H2 */
  --font-size-large: 2.75rem; /* H1 */
}

